/* Fontes Import
========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

/* Css Import
========================================================================== */
@import url(base.css);
@import url(login.css);
@import url(produtos-similares.css);
@import url(adicionar-produto.css);

/* Estilos Padrão
========================================================================== */
body {
  background: var(--produtos-bg);
  color: var(--texto-preto);
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

input,
textarea {
  border: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--input-placeholder);
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

input:focus,
textarea:focus {
  border-bottom: 1px solid var(--texto-azul);
}

textarea {
  height: 82px;
  margin-bottom: 1rem;
  padding: 1rem 0.75rem;
}

p,
h1,
h4 {
  font-weight: bold;
}

/* Nav Search
========================================================================== */
header {
  background-color: var(--bg-color);
}

.busca {
  align-items: center;
  display: flex;
  height: 115px;
  padding: 0 6.5rem;
}

.busca__logo {
  align-items: center;
  display: flex;
  flex: 1;
}

.busca__logo img {
  height: 29.17px;
  margin-right: 0.313rem;
  width: 40.02px;
}

.busca__logo a {
  display: contents;
}

.busca__texto {
  color: var(--texto-azul);
}

.busca__logo p {
  font-size: 1.125rem;
}

.busca__logo input {
  background: url('../images/lupa.png') no-repeat right;
  background-position-x: 360px;
  background-color: var(--input-busca-bg);
  border-radius: 20px;
  height: 40px;
  margin-left: 2rem;
  padding-left: 1rem;
  width: 393px;
}

.busca__logo input:focus {
  border-bottom: none;
}

a {
  color: var(--texto-preto);
  font-weight: 500;
  margin-bottom: 24px;
  text-decoration: none;
}

button {
  background-color: var(--texto-azul);
  border: none;
  cursor: pointer;
  color: var(--texto-branco);
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  height: 51px;
}

.login button {
  background: transparent;
  border: 1px solid var(--texto-azul);
  color: var(--texto-azul);
  width: 182px;
}

/* Banner Area
========================================================================== */
.banner {
  background: url('../images/banner.png') center / cover no-repeat;
  display: flex;
  height: 352px;
}

.banner__titulo {
  color: var(--texto-branco);
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 2rem 6.5rem;
}

.banner__titulo h1 {
  font-size: 3.25rem;
  margin-bottom: 1rem;
}

.banner__titulo h4 {
  font-size: 1.375rem;
  margin-bottom: 1rem;
}

.banner__titulo button {
  width: 130px;
}

/* Produtos: Star Wars, Consoles, Diversos
========================================================================== */
.todos-produtos {
  display: flex;
  flex-direction: column;
}

.produtos__titulo:first-child {
  margin-top: 4rem;
}

.produtos__titulo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 6.5rem 1rem;
}

.produtos__titulo p {
  font-size: 2rem;
}

.produtos__link p {
  color: var(--texto-azul);
  font-size: 1rem;
}

.produtos__link img {
  margin-left: 0.75rem;
}

.produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 6.5rem 4rem;
}

.produto__info p {
  margin-bottom: 0.5rem;
}

.produto__descricao {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 0.5rem 0;
}

.produto__link {
  color: var(--texto-azul);
  font-weight: bold;
}

/* Contato
========================================================================== */
.contato {
  align-items: flex-start;
  background: var(--bg-contato);
  display: flex;
  height: 368px;
  justify-content: space-between;
  padding: 4rem 6.5rem;
}

.contato-destaque {
  display: contents;
}

.contato__logo {
  align-items: center;
  display: flex;
}

.contato__texto {
  color: var(--texto-azul);
  padding-left: 0.313rem;
}

.contato__logo p {
  font-size: 1.125rem;
}

.contato__links {
  color: var(--texto-preto);
  display: flex;
  flex-direction: column;
}

.contato-form{
  display: flex;
  flex-direction: column;
  width: 560px;
}

.form p {
  margin-bottom: 0.5em;
}

.input-nome {
  height: 56px;
  margin-bottom: 1rem;
  padding: 0.5rem 0.75rem;
}

.form button {
  width: 165px;
}

/* Rodapé
========================================================================== */
footer {
  align-items: center;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  font-weight: 500;
  height: 102px;
  justify-content: center;
}

footer p {
  font-weight: 500;
}

/* Input e textarea alertas de validação
   ========================================================================== */

.input-erro{
  border: 1px solid #ca5858;
  border-radius: 8px;
}

.input-erro:focus{
  border-bottom: 1px solid #ca5858;
}

.input-erro::placeholder{
  color: #ca5858;
}

.input-erro{
  background: url(../images/imagens-form-validation/error-icon.svg);
  background-repeat: no-repeat;
  background-position: right;
}


.input-sucesso{
  border: 1px solid #308642;
  border-radius: 8px;
}

.input-sucesso:focus{
  border-bottom: 1px solid #308642;
}

.input-sucesso{
  background: url(../images/imagens-form-validation/success-icon.svg);
  background-repeat: no-repeat;
  background-position: right;
}


/* Media Queries Devices
   ========================================================================== */
@media only screen and (max-width: 900px) {

  button {
    height: 40px;
    width: 119px;
  }

  .busca {
    height: 72px;
  }

  .busca__logo img {
    height: 16.33px;
    margin-right: 0.177rem;
    width: 22.74px;
  }

  .busca__logo p {
    font-size: 0.875rem;
  }

  .login button {
    width: 166px;
  }

  .produtos__titulo p {
    font-size: 1.375rem;
  }

  .produtos :nth-child(n+5) {
    display: none;
  }

  @media only screen and (max-width: 600px) {

    .busca {
      background: url(../images/lupa-escuro.png) no-repeat right;
      background-position-x: 95%;
      padding: 0 1rem;
    }

    .busca__logo {
      flex: none;
    }

    .busca__logo input {
      display: none;
    }

    .login button {
      margin-left: 2.188rem;
      width: 133px;
    }

    .banner {
      height: 192px;
    }

    .banner__titulo {
      padding: 1rem;
    }

    .banner__titulo h1 {
      font-size: 1.375rem;
      margin-bottom: 0.5rem;
    }

    .banner__titulo h4 {
      font-size: 0.875rem;
      margin-bottom: 0.5rem;
    }

    .produtos__titulo {
      /* display: block; */
      padding: 1rem;
    }

    .produtos__titulo:first-child {
      margin-top: 0;
    }

    .produtos__link p {
      font-size: 0.875rem;
    }

    .produtos__link img {
      margin-left: 0.5rem;
      width: 10.67px;
    }

    .produtos {
      padding: 0 1rem 2rem;
    }

    .produto__info img {
      width: 156px;
    }

    .produtos :nth-last-child(n+5) {
      margin-bottom: 1rem;
    }

    .contato {
      align-items: center;
      flex-direction: column;
      height: 100%;
      padding: 1rem;
    }

    .contato__logo {
      justify-content: center;
      margin-bottom: 1rem;
    }

    .contato__links {
      text-align: center;
    }

    .form {
      margin-top: 2rem;
      width: 100%;
    }

  }

}

@media only screen and (min-width: 601px) and (max-width: 900px) {

  .busca {
    padding: 0 2rem;
  }

  .busca__logo input {
    background-position-x: 256px;
    width: 292px;
  }

  .busca__logo input::placeholder {
    font-size: 0.875rem;
  }

  .banner__titulo {
    padding: 2rem;
  }

  .banner__titulo button {
    width: 119px;
  }

  .produtos__titulo:first-child {
    margin-top: 2rem;
  }

  .produtos__titulo {
    padding: 0 2rem 1rem;
  }

  .produtos__link p {
    font-size: 1rem;
  }

  .produtos {
    padding: 0 2rem 4rem;
  }

  .produto__info img {
    width: 164px;
  }

  .todos-produtos :nth-child(6) {
    padding-bottom: 2rem;
  }

  .contato {
    padding: 2rem;
  }

  .contato__logo {
    margin-bottom: 1rem;
  }

  .contato-destaque {
    display: block;
  }

  .form {
    width: 434px;
  }

}