/* Fontes Import
========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

/* Css Import
========================================================================== */
@import url(login.css);
@import url(produtos-similares.css);
@import url(todos-produtos.css);
@import url(adicionar-produto.css);

body{
  color: var(--texto-preto);
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: var(--produtos-bg);
}
/* Nav Search
========================================================================== */
header{
  background-color: var(--bg-color);
}

.busca{
  align-items: center;
  display: flex;
  padding: 2.344em 9.5em;
}

.busca__logo{
  align-items: center;
  display: flex;
  flex: 1;
}

.busca__logo img{
  height: 29.17px;
  margin-right: 0.313em;
  width: 40.02px;
}

.busca__texto{
  color: var(--texto-azul);
}

.busca__logo p{
  font-size: 1.125rem;
  font-weight: bold;
}

.busca__logo input{
  background-image: url(../images/lupa.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 360px;
  background-color: var(--input-busca-bg);
  border: none;
  border-radius: 20px;
  height: 40px;
  margin-left: 2em;
  padding-left: 1em;
  width: 393px;
}

input::placeholder, textarea::placeholder{
  color: var(--input-placeholder);
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

/* input:focus::placeholder{
  font-size: 1.2rem;
  transition: 0.5s; 
} */

input:focus, textarea:focus{
  border-bottom: 1px solid var(--texto-azul);
}

.busca__logo input:focus{
  border-bottom: none;
}

a{
  color: var(--texto-preto);
  font-weight: 500;
  margin-bottom: 24px;
  text-decoration: none;
}

button{
  background-color: var(--texto-azul);
  border: none;
  cursor: pointer;
  color: var(--texto-branco);
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: 400;
  height: 51px;
}

.login button{
  background: transparent;
  border: 1px solid var(--texto-azul);
  color: var(--texto-azul);
  width: 182px;
}

/* Banner Area
========================================================================== */
.banner{
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 352px;
}

.banner__titulo{
  color: var(--texto-branco);
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 2em 9.5em;
}

.banner__titulo h1{
  font-size: 3.25em;
  font-weight: bold;
  margin-bottom: 1rem;
}

.banner__titulo h4{
  font-size: 1.375em;
  font-weight: bold;
  margin-bottom: 1rem;
}

.banner__titulo button{
  width: 130px;
}

/* Produtos: Star Wars, Consoles, Diversos
========================================================================== */
.todos-produtos{
  display: flex;
  flex-direction: column;
}

.produtos__titulo:first-child{
  margin-top: 4rem;
}

.produtos__titulo{ 
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 9.5rem 1rem;
}

.produtos__titulo p{
  font-size: 2em;
  font-weight: bold;
}

.produtos__link p{
  color: var(--texto-azul);
  font-size: 1em;
  font-weight: bold;
}

.produtos__link img{
  margin-left: 0.75em;
}

.produtos{
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.produto__info{
  line-height: 1.8;
}
.produto__descricao{
  font-weight: 500;
}

.produto__preco{
  font-weight: bold;
}

.produto__link{
  color: var(--texto-azul);
  font-weight: bold;
}

/* Contato
========================================================================== */
.contato{
  background: var(--bg-contato);
  display: flex;
  height: 368px;
  justify-content: space-between;
  padding: 4em 9.5em;
}

.contato__logo{
  align-items: center;
  display: flex;
  height: 50px;
}

.contato__texto{
  color: var(--texto-azul);
  padding-left: 0.313em;
}

.contato__logo p{
  font-size: 1.125rem;
  font-weight: bold;
}

.contato__links{
  color: var(--texto-preto);
  display: flex;
  flex-direction: column;
}

.form{
  display: flex;
  flex-direction: column;
  width: 560px;
}

.form p{
  font-weight: bold;
  margin-bottom: 0.5em;
}

.input-nome{
  border: none;
  height: 56px;
  margin-bottom: 1rem;
  padding-left: 1em;
}

textarea{
  border: none;
  height: 82px;
  margin-bottom: 1em;
  padding: 1em;
}

.form button{
  width: 165px;
}

/* Rodapé
========================================================================== */
footer{
  align-items: center;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  font-weight: 500;
  height: 102px;
  justify-content: center;
}