/* Login 
========================================================================== */
.login-area{
  align-items: center;
  display: flex;
  justify-content: center;
  height: 473px;
}

.form-login{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form-login p{
  font-size: 1.125em;
  margin-bottom: 2.375em;
}

.input-email, .input-password{
  height: 63px;
  margin-bottom: 1.539rem;
  padding: 1em;
  width: 423px;
}

.form-login button{
  font-size: 1.125em;
  font-weight: 600;
  height: 62px;
}

/* Media Queries Devices
   ========================================================================== */
   @media only screen and (max-width: 900px){

    .form-login button {
      align-self: center;
      font-size: 0.875rem;
      height: 40px;
      width: 109px;
    }

    .input-email, .input-password {
      height: 41px;
      width: 275px;
  }

   }
  
